<div ng-controller="AccountController as accountVm" ng-init="accountVm.initialize(block.id, service.id)">
    <div class="row">
        <div class="col-sm-6">
            <form class="form-horizontal">
                <div class="form-group" ng-show="accountVm.service.hasAccounts()">
                    <label for="allAccountsSwitch" class="col-sm-4 control-label">All Accounts</label>
                    <switch class="col-sm-1 wide green form-control" id="allAccountsSwitch" name="allAccountsSwitch" ng-model="accountVm.service.allAccounts" on="Yes" off="No" ng-change="accountVm.service.changeAllSwitch()"></switch>
                    <span class="col-sm-1 control-label" tooltip-placement="right" tooltip="account required"><i class="fa fa-warning fa-fw fa-lg" ng-show="accountVm.service.hasAccountWarning()"></i></span>
                </div>
                <div class="form-group" ng-show="accountVm.service.hasSubservices()">
                    <label for="allSubServicesSwitch" class="col-sm-4 control-label">All Sub Services</label>
                    <switch class="col-sm-1 wide green form-control" id="allSubServicesSwitch" name="allSubServicesSwitch" ng-model="accountVm.service.allSubServices" on="Yes" off="No" ng-change="accountVm.service.changeAllSwitch()"></switch>
                    <span class="col-sm-1 control-label" tooltip-placement="right" tooltip="subservice required"><i class="fa fa-warning fa-fw fa-lg" ng-show="accountVm.service.hasSubserviceWarning()"></i></span>
                </div>
                
            </form> 
        </div>
        <div class="col-sm-6">
            <div class="btn-group pull-right" dropdown ng-show="accountVm.service.hasAccounts() || accountVm.service.hasSubservices()">
              <button id="split-button" type="button" class="btn btn-primary" ng-disabled="accountVm.service.hasAccountWarning() || accountVm.service.hasSubserviceWarning()" 
                ng-click="accountVm.save()">Save and Copy To {{accountVm.service.selectedCopyToServiceDesc()}}
              </button>
              <button type="button" class="btn btn-primary" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                <li role="menuitem" ng-repeat="copyservice in accountVm.service.getCopyToServices()"><a id="copyservice" ng-click="accountVm.service.copyTo(copyservice)">{{copyservice.desc}}</a></li>
              </ul>
            </div>  
        </div>
    </div>
    <div class="row">
        <div ng-controller="AccountListController as accountListVm" ng-init="accountListVm.initialize(block.id, service.id)" ng-if="! accountVm.service.allAccounts" class="col-sm-6">
            <div ui-grid="accountListVm.gridOptions"  ui-grid-selection class="myGrid"></div>
        </div>
        <div ng-controller="SubserviceListController as subserviceListVm" ng-init="subserviceListVm.initialize(block.id, service.id)" ng-if="accountVm.service.showSubservices" class="col-sm-6">
            <div ui-grid="subserviceListVm.gridOptions" ui-grid-selection class="myGrid"></div>
        </div>
    </div>
</div>