<!--<block-list blocks="vm.blocks"></block-list>-->
<accordion close-others=false>
    <accordion-group is-open='block.open' ng-repeat="block in blockVm.blocks">
        <accordion-heading>
            <i class="fa fa-plus-square-o" ng-class="{'fa fa-minus-square-o': block.open, 'fa fa-plus-square-o': !block.open}"></i> {{block.desc}} 
        </accordion-heading>
         <alert ng-repeat="alert in block.getAlerts()" type="{{alert.type}}" close="block.removeAlert($index)">{{alert.msg}}</alert>
        <div ng-if="block.open" ng-include='blockVm.serviceTemplate'></div>
    </accordion-group>
</accordion>