<div ng-controller="ServiceController as serviceVm" ng-init="serviceVm.initialize(block.id)">
    <accordion close-others=false>
        <accordion-group is-open='service.open'  ng-repeat="service in serviceVm.services">
            <accordion-heading>
                <i class="fa fa-plus-square-o" ng-class="{'fa fa-minus-square-o': service.open, 'fa fa-plus-square-o': !service.open}"></i> {{service.desc}}
            </accordion-heading>
            <alert ng-repeat="alert in service.getAlerts()" type="{{alert.type}}" close="service.removeAlert($index)">{{alert.msg}}</alert>
            <div ng-if='service.open' ng-include='serviceVm.accountTemplate'></div>
        </accordion-group>
    </accordion> 
</div>    